@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050509;
  color: #E2E8F0;
  overflow-x: hidden;
}

/* Стилизация скроллбара для длинных ритуалов */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: rgba(5, 5, 9, 0.5);
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgba(168, 85, 247, 0.2);
  border-radius: 2px;
}
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: rgba(168, 85, 247, 0.4);
}